/*
 * Author: Will Evans
 *
 * Project Name: Starter Kit for Midway Driving School-mobile
 * Version: 1.0
 */

 /* ========= Mobile Styles ========= */
@media only screen and (min-width: 0px) and (max-width: 375px) {
#mobile-contact{   
  background-color: #6dc1ff;
  position: relative;
  height: 50px;
  margin-top:170px;
  margin-left: 0;
  width: 100%;
}   
#mobile-contact h1{
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 18px;
  text-align: left;
  padding-left: 15px;
  line-height: 50px;

}

#mobile-contact h1 span {
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 18px;
  padding-left: 100px;
  line-height: 50px;
}
.container-body p {
  text-align: center;
  margin-left: 0;
  padding-top: 50px; 
  width: 100%;
  padding-left: 10px;
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 18px;
  line-height: 50px;
}

#copyright{
  color: #ffffff; 
  margin-bottom:0;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 100px;
}
.navbar navbar-default navbar-fixed-top{

  padding-bottom: 0px;
}
.navbar-collapse {
    border-top: none;
}

#services{
  padding-bottom: 90px;
}

@media only screen and (max-width: 426px) {
.input-group {
width: 100%;
}

}

@media only screen and (min-width: 0px) and (max-width: 375px) {
    #hero {
  clear: top;
  margin-top: 0px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #ffffff;
  background-image: url("../images/Iphone-8_MDS-home-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#hero h1 {
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size:30px;
  color: #ffffff;
  text-align: left;
  line-height: 30px;
}
#footer-contact{
  display: none;
  left: 0;
}
#footer h2{
  font-size: 18px;
  font-weight: 900;
}

#rectangle1 {
  background-color: rgba(255, 255, 255, 1.0);
  position: absolute;
  overflow: hidden;
  left: 10%;
  margin-top: 305px;
  height: 216px;
  width: 200px;
  margin-left: 30%;
}
#rectangle1 p {
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  color: rgba(48, 45, 46, 1.0);
  text-align: left;
  line-height: 15px;
  padding-bottom: 10px;
}

.btn-lg{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  margin-right: 40px;
  align-items: center;
}
#rectangle-btn {
  padding: 5px 10px;
  font-size: 15px;
  line-height: 1.5;
  margin-right: 15%;
  margin-left: 15%;
  align-items: center;
  border-radius: 0px;
  border-color: none;
}


.center-jumbotron {
  padding: 30px;
  margin-bottom: 60px;
  margin-top: 60px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
  max-height: 750px;
  min-height: 550px;
  background-image: url("../images/iphone-lady on car-341071.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.center-jumbotron h1 {
  line-height: 1;
  color: inherit;
}
.center-jumbotron p {
  line-height: 1.4;
}

.rectangle2 {
  background-color: rgba(255, 255, 255, 1.0);
  position: absolute;
  overflow: hidden;
  left: 10%;
  margin-top: 305px;
  height: 215px;
  width: 200px;
  margin-left: 30%;
}
.rectangle2 p {
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  color: rgba(48, 45, 46, 1.0);
  text-align: left;
  line-height: 15px;
  padding-bottom: 10px;
 
}

#secondary-hero {
  font-weight: 200;
  max-height: 550px;
  min-height: 550px;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
  background-image: url("../images/iphone-8_arial-street.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#secondary-hero h1 {
 
  font-family: "Roboto", Helvetica, Arial, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48.0px;
  color: #ffffff;
  text-align: left;
  line-height: 63.0px;
}

}

/* ========= End Mobile Styles ========= */

